<!DOCTYPE html>
<html lang="en">
	<head>
		{% include header %}
		{% include unsorted-pages-all %}
		{% include prod-cat-column %}
	</head>
	<body>
		<div class="soa-ui-dc-container-top soa-ui-dc-clearthis">
			{% include logo %}
			{% include search %}
			{% include prod-topnav %}
		</div>
		<div class="soa-ui-dc-container-main soa-ui-dc-clearthis">
			{{ content }}
			<ul class="soa-ui-dc-detail-columns soa-ui-dc-clearthis">
				<li class="soa-ui-dc-detail-column">
					<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/{{ page.product }}/getting-started.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Getting Started</a></h4>
                    <script type="text/javascript">
                       prod_cat_col('{{ page.product }}','gs', 0);
                    </script>
				</li>
				<li class="soa-ui-dc-detail-column">
					<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/{{ page.product }}/learning.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Learning</a></h4>
                    <script type="text/javascript">
                       prod_cat_col('{{ page.product }}','learn', 0);
                    </script>
				</li>
				<li class="soa-ui-dc-detail-column">
					<h4 class="soa-ui-dc-detail-column-header"><a href="{{ site.baseurl }}/{{ page.product }}/reference.html" class="soa-ui-dc-icon soa-ui-dc-icon-action-dark">Reference</a></h4>
                    <script type="text/javascript">
                       prod_cat_col('{{ page.product }}','ref', 0);
                    </script>
				</li>
			</ul>
			<!-- 3-col index ends here -->
			{% include footer %}
		</div>
	</body>
</html>
